<div class="card">
    <nav class="navbar navbar-expand-sm">   
        <!-- Links -->

        <div class="mx-auto order-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard', 'accounts', 'home']" routerLinkActive="router-link-active" >Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard', 'accounts', 'new']" routerLinkActive="router-link-active" >New Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard', 'accounts', 'manage']" routerLinkActive="router-link-active" >Manage Existing Accounts</a>
              </li>
            </ul>
        </div>
      </nav>
</div>
