HELP.md
/target/
# !.mvn/wrapper/maven-wrapper.jar

.mvn

classes

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

uploads

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

node_modules

dist

package-lock.*

/client/client-admin/package-lock.json

shop-0.0.1-SNAPSHOT.jar

*.log
*.gz
*.tmp

*.jar
*.classpath

.DS_Store