// Container class
.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 5%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: white !important;
}

// This is responsible for hover shadows
.container:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.4);
}

// Styling for H1 tag
h1{
	font-size: 40px;
	font-weight: bold;
	color: #007bff;
	text-align: center;
}

// Buttons Styles
button{
	align-items: center;
}

// Arrange the avatar image
img{
    border-radius: 50%; 
    width:15% ; 
    height:15%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Body Background
body{
	background-color: #007bff
}
