<div class="card-media" style="text-align: center;">
    <div class="container">
      <h1><b>Manage Parties</b></h1>
      <div class="form-group has-search">
        <i class="material-icons form-control-feedback">
          search
        </i>
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <ng-container *ngIf="parties.length == 0 && !(isLoading$ | async)" style="margin: auto;">
      <h3>No Parties to display...</h3>
      <img class="empty-state" src="../../../assets/images/empty.svg">
    </ng-container>
    <ng-container *ngIf="isLoading$ | async" style="margin: auto;">
        <h3>Please wait...</h3>
        <app-loading-spinner></app-loading-spinner>
    </ng-container>
    <div class="media card-tile user-list" *ngFor="let party of parties; let  i = index">
  
      <img src="" onerror="this.src='/assets/images/home-rice-1.jpg'" class="feed-avatar">
      <div class="media-body">
        <div class="float-left">
          <h4>{{ party?.type }}</h4>
          <p><b>Status</b>: <ng-container *ngIf="party?.status == 'y'">Active</ng-container>
            <ng-container *ngIf="party?.status == 'n'">Disabled</ng-container>
          </p>
        </div>
        <div class="btn-group mr-3 float-right" *ngIf="party?.status == 'y'">
            <button class="btn btn-md btn-warning" (click)="deleteParty(party?.id, i)">
             Disable this Party
            </button>
        </div>
        <div class="btn-group mr-3 float-right" *ngIf="party?.status == 'n'">
            <button class="btn btn-md btn-primary" (click)="enableParty(party?.id, i)">
             Enable this Party
            </button>
        </div>
      </div>
  
    </div>
  
  </div>