<div class="card-media">
    <!-- <div class="row">
        <div class="back" (click) = "backClicked()">
            <i class="material-icons">
                    arrow_back_ios
            </i>
        </div>
    </div> -->
    <div class="container">
        <h1>Change Password</h1>

        <div class="form">
            <input type="text" placeholder="Email" [(ngModel)]="object.email">
            <input  type="password" placeholder="Old Password" [(ngModel)]="object.oldPassword">
            <input  type="password" placeholder="New Password" [(ngModel)]="object.newPassword" (keyup.enter)="submit.click()">
            <button #submit type="submit" id="login-button" (click) = "changePassword(object)">Change Password</button>
        </div>
    </div>
</div>
