<!DOCTYPE html>
<html>

<head>
    <title> Saifco Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=7, IE=9" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <span class="byline"> <h3 class="font-weight-bold"> Your new OTP </h3> </span>
            </div>
            <div class="description">
                <p class="task-content"> OTP is - <%= otp %> . This One time password is valid for next 5 mins.</p>
                <p style="text-align: center">
                    Team Saifco
                </p>
            </div>
        </div>
    </div>
</body>

</html>