<!DOCTYPE html>
<html>

<head>
    <title> Amasia Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=7, IE=9" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <span class="byline" style="text-align: center"> <h3 class="font-weight-bold"> Order is in transit! </h3> </span>
            </div>
            <div class="description">
                <p class="task-content"> This email is simply to inform you that your order is in transit, you may track the
                    status on the application.</p>
                <p style="text-align: center">
                    Team Amasia
                </p>
            </div>
        </div>
    </div>
</body>

</html>