<div class="body-container">
    <div class="row">
        <div class="back" (click) = "backClicked()">
            <i class="material-icons">
                    arrow_back_ios
            </i>
        </div>
    </div>
    <div class="container">
        <h1>Reset Password</h1>

        <div class="form" style="text-align: center;">
            <input id="email" type="text" placeholder="Phone Number" (keyup.enter)="submit.click()" [(ngModel)]="phone" required>
            <button #submit type="submit" id="login-button" (click)="forgotPassword()" [disabled]="phone.length<=0">Get Password</button>
        </div>
    </div>
</div>