<div class="card-media">
    <div class="container">
        <h1><b>All Warehouse List</b></h1>
        <div class="form-group has-search">
            <i class="material-icons form-control-feedback">
                search
            </i>
            <input type="text" class="form-control" placeholder="Search Warehouse" (keyup)="search($event)">
        </div>

        <div class="media card-tile user-list" *ngFor="let ware of warehouses; let index = index;">
            <img src="http://35.247.171.117/admin/assets/images/home-rice-1.jpg" class="feed-avatar">
            <div class="media-body">
                <div class="float-left">
                    <h4 class="mt-3">{{ ware?.name }}</h4>
                </div>
                <div class="btn-group float-right mt-3">
                    <button (click)="openModal(content, ware?.id)" class="btn btn-primary dropdown-toggle-split btn-sm">View
                        Details</button>
                </div>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="mt-0">Warehouse Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p><b>Warehouse Name: </b>{{ this.warehouse?.warehouseName }}</p>
                        <input *ngIf="this.warehouse.edit" class="form-control" [(ngModel)]="this.warehouse.warehouseName">
                    </div>

                    <div class="form-group">
                        <p><b>Warehouse Email: </b>{{ this.warehouse?.warehouseEmail }}</p>
                        <input *ngIf="this.warehouse.edit" class="form-control" [(ngModel)]="this.warehouse.warehouseEmail">
                    </div>

                    <div class="form-group">
                        <p><b>Person of Contact: </b>{{ this.warehouse?.personOfContact }}</p>
                        <input *ngIf="this.warehouse.edit" class="form-control" [(ngModel)]="this.warehouse.personOfContact">
                    </div>

                    <div class="form-group" *ngIf="this.warehouse?.type!='dynamic'">
                        <p><b>Address: </b>{{ this.warehouse?.address }}, {{ this.warehouse?.city }}, {{ this.warehouse?.state.stateName }}, {{ this.warehouse?.country.countryName }} - {{ this.warehouse?.pincode }}</p>
                    </div>

                    <div class="form-group">
                        <p><b>Primary Phone: </b>{{ this.warehouse?.primaryPhone }}</p>
                        <input *ngIf="this.warehouse.edit" class="form-control" [(ngModel)]="this.warehouse.primaryPhone">
                    </div>

                    <div class="form-group">
                        <p><b>Secondary Phone: </b>{{ this.warehouse?.secondaryPhone }}</p>
                        <input *ngIf="this.warehouse.edit" class="form-control" [(ngModel)]="this.warehouse.secondaryPhone">
                    </div>

                    <div class="form-group">
                        <p><b>Role: </b>{{ this.warehouse?.role }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group float-right">
                        <button class="btn btn-primary dropdown-toggle-split btn-sm" *ngIf="this.warehouse.edit" (click)="this.warehouse.edit = !this.warehouse.edit; updateDetails(this.warehouse, ware.id)">Save
                                Warehouse</button>
                                <button class="btn btn-primary dropdown-toggle-split btn-sm" *ngIf="!this.warehouse.edit" (click)="this.warehouse.edit = !this.warehouse.edit">Edit
                                    Warehouse</button>
                </div>

                </div>
            </ng-template>
        </div>
    </div>

</div>