<nav class="navbar navbar-expand-lg">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard', 'overview']" routerLinkActive="router-link-active" >
                  <i class="material-icons">
                    event_note
                    </i><b>Overview</b></a>
              </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'warehouse', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                storefront
                </i><b>Warehouse</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'party-type', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                add_box
                </i><b>Party Type</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'party', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                how_to_reg
                </i><b>Party Admin</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'products', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                file_copy
                </i><b>Products</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'categories', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                category
                </i><b>Categories</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'accounts', 'home']" routerLinkActive="router-link-active" >
              <i class="material-icons">
              supervisor_account
              </i><b>Account Admin</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard', 'change-password']" routerLinkActive="router-link-active" >
              <i class="material-icons">
              supervisor_account
              </i><b>Change Password</b></a>
          </li>
        </ul>

        <div class="navbar-collapse collapse w-25 order-2 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" (click)="signout()"><b>Signout</b></a>
              </li>
          </ul>
      </div>
      
      </nav>
