<div class="media card-tile user-list">
    <img src="{{ uploadsServer }}/static/images/{{ product.image }}" onerror="this.src='/assets/images/home-rice-1.jpg'" class="feed-avatar">
    <div class="media-body">
        <div>
            <div class="float-left">
                <h4>{{ product.itemName }}</h4>
                <p><strong>Description: </strong>{{ product.description }}</p>
            </div>
            <div class="float-right">
                <button id="expand" class="btn"><span class="material-icons" (click)="toggleExpanded()">
                    {{arrow}}
                </span></button>
            </div>
        </div>
        <div [hidden]="!expanded" style="clear: both;">
            <div class="float-left" id="details">
                <button class="btn btn-secondary" style="margin-right: 10px;" *ngFor="let itemPacking of product.itemPackingDetails" (click)="selectedPacking=itemPacking.size; cartItem.itemPackingDetails.id=itemPacking.id; getPriceAndStock(itemPacking.id);">{{ itemPacking.size + 'kg'}}</button>
                <p *ngIf="selectedPacking"><strong>Selected Packing: </strong>{{ selectedPacking + 'kg'}}</p>
            </div>
            <div class="float-right" [hidden]="!productAvailable">
                <p><strong>Price (per piece): </strong>Rs.{{ cartItem.price }}</p>
                <label for="quantity">Quantity: </label>
                <input type="number" name="quantity" id="" style="width: 80px; margin-right: 10px;" placeholder="0" min="0" [(ngModel)]="cartItem.quantity">
                <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
            </div>
            <div>
                <p style="color: red;" style="display: none;" [hidden]="!productAvailable">This item is not available in your area!</p>
            </div>
        </div>
    </div>
</div>
