img{
    max-width: 500px;
    max-height: 500px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}
	
	h1{
        font-size: 40px;
        font-weight: bold;
        color: #007bff;
        text-align: center;
        margin-top: 2%;
        margin-left: 10%;
		// font-weight: 400;
	}