<div class="media card-tile user-list">
    <div class="media-body">
        <div class="float-left">
            <h6><strong>OrderId: </strong>{{ orderItem.orderId }}</h6>
            <p>Status: {{ orderItem.status }}</p>
        </div>
        <div class="float-right">
          <button id="expand" class="btn"><span class="material-icons" (click)="toggleExpanded()">
              {{arrow}}
          </span></button>
      </div>
      <div *ngIf="expanded==true" style="clear: both;">
        <table class="table" style="margin: 10px;">
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Packing (Kg)</th>
                    <th>Price Per Piece (Rs)</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderDetails">
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.orderDetail.itemDetails.size }}</td>
                    <td>{{ item.orderDetail.discountedCost }}</td>
                    <td>{{ item.orderDetail.quantity }}</td>
                    <td>{{ item.orderDetail.discountedCost * item.orderDetail.quantity }}</td>
                </tr>
            </tbody>
        </table>
        <p><strong>Total Order Value: </strong>Rs. {{ totalOrderValue }}</p>
        <div class="address">
            <p><strong>Party Name: </strong>{{ partyDetails.partyName }}</p>
            <p><strong>Primary Phone: </strong>{{ partyDetails.primaryPhone }}</p>
            <p><strong>Address: </strong>{{ partyDetails.address + ', ' + partyDetails.city + ', ' + partyDetails.state.stateName + ', ' + partyDetails.country.countryName + '-' + partyDetails.pincode }}</p>
        </div>
        <div *ngIf="orderItem.status!='Closed'">
            <p><strong>Expected Delivery Date: </strong>{{ orderItem.expectedDeliveryDate }}</p>
        </div>
        <div *ngIf="orderItem.status=='Closed'">
            <p><strong>Closed By: </strong>{{ orderItem.closedBy }}</p>
            <p><strong>Received By: </strong>{{ orderItem.receivedBy }}</p>
            <p><strong>Delivery Date: </strong>{{ orderItem.deliveryDate }}</p>
        </div>

        <div style="text-align: center;">
          <button *ngIf="orderItem.status=='Confirmed'" (click)="changeStatus('In-Transit')" class="btn btn-primary">In Transit</button>
          <button *ngIf="orderItem.status=='In-Transit'" class="btn btn-primary" [routerLink]="['/dashboard', 'orders', 'transfer', orderItem.orderId]">Transfer to Van</button>
        </div>

        <div style="text-align: center;" *ngIf="orderItem.status=='Out for Delivery'">
            <label for="receivedBy">Received By: </label>
            <input type="text" name="receivedBy" id="" placeholder="Received By" [(ngModel)]="receivedBy">
            <br>
            <label for="closedBy">Closed By: </label>
            <input type="text" name="closedBy" id="" placeholder="Closed By" [(ngModel)]="closedBy">
            <br>
            <button class="btn btn-primary" (click)="closeOrder()">Close Order</button>
        </div>

    </div>
    </div>
</div>
