<!-- <h1><b>Categories List</b></h1> -->
<div class="container">
    <div class="form-group has-search">
            <!-- <i class="material-icons has-search">
                    search
                    </i> -->
            <input type="text" class="form-control" placeholder="Search Products">
    </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
    <div class="col-md-3 container-card">

    </div>
    <div class="col-md-3 container-card">

    </div>
    <div class="col-md-3 container-card">

    </div>
    <div class="col-md-3 container-card">
        
    </div>
</div>