

        <div class="card-media"> 
            <div class="container">
              <h1><b>Generate New Category</b></h1>
              <div class="form-group">
                <input type="text" class="form-control" id="categoryType" placeholder="Enter the category name" name="categoryType" [(ngModel)]="categoryName">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" id="categoryDescription" placeholder="Enter the Description" name="categoryDescription" [(ngModel)]="categoryDescription"></textarea>
              </div>
              <button type="submit" class="btn btn-primary form-control" (click)="createNewCategory()">Create</button>
            </div>
          </div>