@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);

h1{
    margin: 1rem;
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.empty-state{
    max-width: 400px;
    max-height: 400px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}

h2{
    margin: 1rem;
    font-size: 25px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    text-transform: uppercase;
}

.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 0;
	h1{
        font-size: 40px;
        font-weight: bold;
        color: #007bff;
		text-align: center;
	}

	button{
		align-items: center;
	}
}

h3{
    font-size: 30px;
    color: #007bff;
    font-family: 'Permanent Marker', cursive;
}
