<!-- <h1><b>Categories List</b></h1> -->
<div class="container">
        <div class="form-group has-search">
                <!-- <i class="material-icons has-search">
                        search
                        </i> -->
                <input type="text" class="form-control" placeholder="Search Categories">
        </div>
    </div>
    
    <div class="row" style="margin-bottom: 1rem; margin-left: 5rem;">
        
        <div *ngFor="let category of categoriesList">
                <div class="container-card" style="margin: 1rem 1rem 1rem 1rem">
                        <h2>{{category?.category}}</h2>
                        <p>Status: {{category?.status}}</p>
                </div>
        </div>
    </div>