<!-- <div class="card-media">
<div class="container">
        <h1><b>Categories List</b></h1>
        <div class="form-group has-search">
                <i class="material-icons form-control-feedback">
                        search
                    </i>
                <input type="text" class="form-control" [(ngModel)]="categoryQuery" class="form-control" placeholder="Search Categories"
                        (keyup)="searchQuery(categoryQuery)">
        </div>
</div>

<div class="row" style="margin-bottom: 1rem; margin-left: 5rem;">
        <div *ngFor="let category of categoriesList">
                <div class="container-card" style="margin: 1rem 1rem 1rem 1rem">
                        <p><b>Category:</b> {{category?.category}}</p>
                        <p><b>Description:</b> {{category?.description}} </p>
                </div>
        </div>

</div>
<ng-container *ngIf="listLength == 0">
        <h3>No Categories to display...</h3>
        <img class="empty-state" src="../../../assets/images/empty.svg">
</ng-container>
<ng-container *ngIf="isLoadingQuery$ | async">
        <h3>No Results to display...</h3>
        <img class="empty-state" src="../../../assets/images/search.svg">
</ng-container>
</div> -->

<div class="card-media">
        <div class="container">
                <h1><b>Welcome to Categories Administration</b></h1>
                <img class="empty-state" src="../../../assets/images/create.svg">
        </div>

</div>