<div class="card-media">
    <div class="container">
        <h1><b>Transfer Stock</b></h1>
        <div class="form-group has-search">
          <i class="material-icons form-control-feedback">
            search
          </i>
          <input type="text" class="form-control" placeholder="Search" (input)="onSearch($event)">
        </div>
        <ng-container *ngIf="listLength == 0">
          <h3>No warehouse to display...</h3>
          <img class="empty-state" src="../../../assets/images/empty.svg">
        </ng-container>
        <ng-container *ngIf="isLoadingQuery$ | async">
          <h3>No Results to display...</h3>
          <img class="empty-state" src="../../../assets/images/search.svg">
        </ng-container>
      </div>      

      <div class="media card-tile user-list" id="list" *ngFor="let warehouse of warehouseList; let  i = index" [hidden]="warehouseListHidden">
        <img src="" onerror="this.src='/assets/images/home-rice-1.jpg'" class="feed-avatar">
        <div class="media-body">
            <div class="float-left">
                <h4>{{ warehouse?.warehouseName }}</h4>
                <p><strong>Email: </strong>{{ warehouse?.warehouseEmail }}</p>
            </div>
            <div class="float-right">
                <button class="btn btn-sm btn-primary" (click)="this.selectedWarehouse = warehouse?.id; toggleList();">Select</button>
            </div>
        </div>
      </div>

    <div class="container">
        <div *ngFor="let item of stocks">
            <app-stock-item [stockItem]="item" [selectedWarehouse]="selectedWarehouse"></app-stock-item>
        </div>
    </div>
</div>
