@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);

h1{
    margin: 1rem;
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    top: 0;
    margin-left: 40%;
    margin-top: 5%;
    position: absolute;
}

h3{
    font-size: 30px;
    color: #007bff;
    margin-left: 30%;
    font-family: 'Permanent Marker', cursive;
}

// Container class
.container{
	margin: 0 auto;
	padding: 5%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: white !important;
}

// This is responsible for hover shadows
.container:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.4);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

// .has-search .form-control {
//     padding-left: 2.375rem;
// }

// .has-search .form-control-feedback {
//     position: absolute;
//     z-index: 2;
//     display: block;
//     width: 2.375rem;
//     height: 2.375rem;
//     line-height: 2.375rem;
//     text-align: center;
//     pointer-events: none;
//     color: #aaa;
// }

// .container{
//     margin: 1rem;
// }

p{
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}