<div class="container">
    <div class="media card-tile user-list">
        <div class="media-body">
            <div class="float-left">
                <h4 class="mt-3">{{ stockItem['itemName'] + ' - ' + stockItem['itemPackingDetails']['size'] + ' kg'}}</h4>
                <p><strong>Price: </strong>{{ stockItem['price'] }}</p>
                <p><strong>Quantity: </strong>{{ stockItem['quantity'] }}</p>
            </div>
            <div class="float-right align-self-center">
                <button class="btn" (click)="decrement()">-</button>
                <input type="number" style="max-width: 40px;" [(ngModel)]="quantity" class="text-center" id="quantity" min="0" max="{{ stockItem['quantity'] }}">
                <button class="btn" (click)="increment()">+</button>
                <br>
                <br>
                <button class="btn btn-primary" (click)="transferStock()">Transfer</button>
            </div>
        </div>
    </div>
</div>
