
    <div class="container">
      <h1><b>Create New Account</b></h1>
      <ng-container *ngIf="!(isLoading$ | async)">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" id="fullName" placeholder="Enter full name" name="fullName"
            [(ngModel)]="accountDetails.partyName" (change)="accountDetails.contactPerson=accountDetails.partyName">
        </div>
  
        <div class="form-group" [hidden]="true">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
            [(ngModel)]="accountDetails.partyEmail">
        </div>

        <div class="form-group">
          <label for="contactNumber">Primary Phone Number</label>
          <input type="number" class="form-control" id="contactNumber" placeholder="Enter Contact Number"
            name="contactNumber" [(ngModel)]="accountDetails.primaryPhone">
        </div>

        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"
            [(ngModel)]="accountDetails.password">
        </div>
  
        <div class="form-group" [hidden]="true">
          <label for="contactNumber">Contact Person</label>
          <input type="text" class="form-control" id="contactPerson" placeholder="Enter Contact Person"
            name="contactPerson" [(ngModel)]="accountDetails.contactPerson">
        </div>
  
        <div class="form-group">
          <label for="contactNumber">Secondary Phone Number</label>
          <input type="number" class="form-control" id="secondaryContactNumber"
            placeholder="Enter Secondary Contact Number" name="secondaryContactNumber"
            [(ngModel)]="accountDetails.secondaryPhone">
        </div>
  
        <div class="form-group">
          <label for="address">Full Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter address" name="address"
            [(ngModel)]="accountDetails.address">
        </div>
  
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="Enter city" name="city"
            [(ngModel)]="accountDetails.city">
        </div>

        <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-md btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select State
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let state of states" (click)="accountDetails.state = state; this.selectedState = state">{{state}}</a>
              </div>
            </div>
    
            <p *ngIf="this.selectedState" style="margin-top: 2%;">Selected State: <strong>{{this.selectedState}}</strong></p>
          </div>
  
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" placeholder="India" name="country"
            [(ngModel)]="accountDetails.country" disabled=true>
        </div>
  
        <div class="form-group">
          <label for="pin">Pin Code</label>
          <input type="number" class="form-control" id="pin" placeholder="Enter pin code" name="pin"
            [(ngModel)]="accountDetails.pincode">
        </div>

        <!-- <div class="form-group">
            <button class="btn btn-dark form-control" (click)="getOtp(accountDetails.partyEmail); formCheck = true">Get OTP on Email</button>
            <input type="number" name="otp" placeholder="Enter OTP" class="form-control" [(ngModel)]="otp">
        </div>
        <div class="form-group" *ngIf="formCheck">
            <button class="btn btn-md btn-primary" (click)="verifyOtp()">Validate</button>
        </div> -->
        <button type="submit" class="btn btn-primary form-control" (click)="createAccount(accountDetails)">Submit</button>
    </ng-container>
  </div>
