.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 0;
	h1{
        font-size: 40px;
        font-weight: bold;
        color: #007bff;
		text-align: center;
	}

	button{
		align-items: center;
    }

    .dropdown-menu{ 
        max-height:250px; 
        overflow:auto; 
    }
}